# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

/src/generated/resources/.cache/
## exclude generated resources except the language files from version control
#/src/generated/resources/*
#!/src/generated/resources/assets
#/src/generated/resources/assets/*/*
#!/src/generated/resources/assets/*/lang

# custom
logs
/run-data/
/run-server/

