name: Track Bug Report

on:
  issues:
    types: [opened, labeled]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

jobs:
  assign_one_project:
    runs-on: ubuntu-latest
    name: Assign to One Project
    steps:
      - name: Assign Issue with bug label to Biomancy Bug Tracker
        uses: srggrs/assign-one-project-github-action@1.2.1
        if: |
          contains(github.event.issue.labels.*.name, 'bug')
        with:
          project: 'https://github.com/Elenterius/Biomancy/projects/2'
          column_name: 'Needs triage'
